.navbar-toggler span.d-icon {
  border: 1px solid var(--primary-purple);
}



.page_title {
  /* width: 90%; */
  /* display: flex; */
  /* justify-content: space-between; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* align-items: center; */

}

.page_title h1 {
  font-weight: bold;
  font-size: 1.5rem;
}


.icon-bars {
  color: var(--primary-purple);
}






/* Modal Custom CSS  */
/* .modal-dialog, */

.come-from-modal.right .modal-header h1 {
  font-size: 1.5rem;
  font-family: var(--font-family-body);
  font-weight: 700;
  line-height: 1.8rem;
}

.come-from-modal.right .btn-close {
  /* color: var(--primary-purple) !important; */
  border: 1px solid var(--color-text-ash);
  border-radius: 50%;
  font-size: 0.625rem;
}

.come-from-modal.right .modal-body>.balance {
  background-color: var(--color-bg-light);
  border-radius: 1.5rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.come-from-modal.right .modal-body .balance h4 {
  font-family: var(--font-family-body);
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.05rem;
}

.come-from-modal.right .modal-body .balance h1 {
  font-family: var(--font-family-body);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.8rem;
}

.come-from-modal.right .modal-body .balance p {
  font-family: var(--font-family-body);
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 0.75rem;
  color: var(--color-text-ash);
}


.come-from-modal.right .transactions {
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: var(--color-bg);
}


.come-from-modal.right .transactions .top_section {
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: var(--color-bg);
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.come-from-modal.right .transactions .top_section h3 {
  color: var(--color-text-ash);
  font-family: var(--font-family-body);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
}

.come-from-modal.right .transactions .top_section a {
  color: var(--color-text-ash);
  font-family: var(--font-family-body);
  font-size: 0.625rem;
  font-weight: bold;
  line-height: 0.75rem;
  color: var(--primary-purple);
}





.come-from-modal.right .transactions .bottom_section {
  height: 250px;
  overflow-y: scroll;
}



.come-from-modal.right .transactions .bottom_section .transaction {
  display: flex;
  width: 100%;
  background-color: var(--color-text-white);
  padding: 1rem;
  border-radius: 1rem;
  gap: 0.5rem;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 1rem;
}

.come-from-modal.right .transactions .bottom_section .transaction .profile_info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.come-from-modal.right .transactions .bottom_section .transaction .profile_info .date {
  margin-bottom: 0;
}

.come-from-modal.right .transactions .bottom_section .transaction h3.credit-amount {
  margin-bottom: 0;
  padding-top: 0.6rem;
  color: var(--color-text-green);
  font-family: var(--font-family-body);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
  text-align: right;

}

.come-from-modal.right .transactions .bottom_section .transaction h3.debit-amount {
  margin-bottom: 0;
  padding-top: 0.6rem;
  color: var(--color-text-red);
  font-family: var(--font-family-body);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
  text-align: right;

}

.come-from-modal.right .transactions .bottom_section .transaction .profile_info .profileWrapper {
  width: 3rem;
  border-radius: 50%;
  background-color: var(--color-bg-light);
  padding: 0.2rem;
}

.come-from-modal.right .transactions .bottom_section .transaction .profile_info .profileWrapper img.prof {
  width: 100%;
}

.come-from-modal.right .transactions .bottom_section .transaction .profile_info h4 {
  font-size: 0.875rem;
  line-height: 1.05rem;
  margin-bottom: 0;
  color: var(--primary-purple);
  font-weight: 700;
  font-family: var(--font-family-body);
  font-weight: 700;
}


.come-from-modal.right .transactions .bottom_section .transaction .profile_info p {
  color: var(--color-text-ash);
  font-size: 0.6rem;
  margin-bottom: 0;
  font-family: var(--font-family-body);
  font-size: 0.625rem;
  font-weight: bold;
  line-height: 0.75rem;
}

.come-from-modal.right .withdraw-btn {
  background-color: var(--color-bg-light);
  width: 100%;
  color: var(--primary-purple);
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid var(--primary-purple);
}

















/* DASHBOARD STYLING  */
.dashboard_container {
  min-height: 100vh;
}

.main__job-details {
  background-color: var(--color-text-white);
  border-radius: 1rem;
  margin: 1rem 0;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}


.container__data {
  margin-top: 2rem;
  padding: 0;
}

.container__data .map_wrapper {
  /* background-color: black; */
}

.container__data .map_wrapper img {
  width: 100%;
}


.container__data .job_details {
  width: 100%;
  background: var(--color-bg);
  margin-bottom: 0.2rem;
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
}

.container__data .job_details h4 {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.05rem;
}

.container__data .job_details .card_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.container__data .job_details .card_top .profile_info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.container__data .job_details .card_top .profile_info>span:nth-child(2) {
  margin-top: 0.2rem;
}

.container__data .job_details .card_top .profile_info img.prof {
  width: 3rem;
}

.container__data .job_details .card_top .profile_info h4 {
  font-size: 0.75rem;
  line-height: 1.05rem;
  margin-bottom: 0;
  color: var(--primary-purple);
  font-weight: 700;
}

.container__data .job_details .card_top .profile_info .rate_score {
  color: var(--color-text-ash);
  font-size: 0.6rem;
}

.container__data .job_details .card_top .profile_info .rate_score {
  color: var(--color-text-ash);
  font-size: 0.625rem;
}

.container__data .job_details .card_top .top_cta button {
  border-radius: 0.5rem;
  color: var(--primary-purple);
  font-weight: bold;
  background-color: var(--color-bg-light);
  border: 1px solid var(--color-text-ash);
  padding: 0.625rem 1rem;
  font-size: 0.625rem;
  margin-top: 0.5rem;
}

.container__data .job_details .card_top .top_cta button .icon-saved {
  font-size: 0.625rem;
}

.container__data .job_details .card_top .top_cta button.active {
  border-radius: 0.7rem;
  background-color: var(--color-primary-dark);
  color: var(--color-text-white);
}

.container__data .job_details .card_top .top_cta button:hover {
  background-color: var(--color-bg-light);
  color: var(--primary-purple);
}













.container__data .container_bottom {
  background-color: var(--color-bg);
  border-radius: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.container__data .container_bottom p {
  color: var(--color-text-ash);
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 0.6rem;
  margin: 0;
}

.container__data .container_bottom h2 {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.9rem;

}



.container__data .buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5rem;
  font-family: var(--font-family-text);
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 0.75rem;
  border-radius: 0.625rem;
}

.container__data .buttons button.saved {
  background-color: var(--color-bg-light);
  border: 1px solid var(--color-text-ash);
  color: var(--color-text-ash);
  padding: 0.8rem;
  border-radius: 0.625rem;
}

.container__data .buttons button.apply-btn {
  background-color: var(--primary-purple);
  color: var(--color-text-white);
  padding: 0.8rem 3.5rem;
  border-radius: 0.625rem;
}



.container__data .buttons button:hover {
  background-color: var(--color-bg-light);
  color: var(--primary-purple);
  border: 1px solid var(--primary-purple);
}





/* .container__data .cards .job_details .card-body .dash-icon {
  font-size: 2rem;
  margin-bottom: 0.2rem;
} */

.app {
  /* height: 50vh; */
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  /* padding: 1rem; */
  margin: 0 auto;
}

.container__data .row .chart {
  width: 100%;
  background-color: #e9e9e9;
  padding: 1rem;
  height: 20rem;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}